@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

body {
    min-height: 100vh;
}
html {
    font-size: 14px;
}
:root {
    --default-font-family: 'Nunito', sans-serif;
}